.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-overlay-bg;
  display: none;
  z-index: $z-index-backdrop;
  &.backdrop--show {
    display: block;
  }
}
