$color-primary: #0b0b0b;
$color-secondary: #e50914;
$color-overlay-bg: rgba(0, 0, 0, 0.6);
$color-loader-bg: #162534;
$color-loader-border: #09f;
$loader-border-width: 6px;

$color-alert: #d33434;

$z-index-backdrop: 5;
$z-index-modal: 10;
